:global @keyframes frostFadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }

  to {
    opacity: 1;
    visibility: visible;
  }
}
:global .frost-fade-in {
  animation: frostFadeIn 0.2s;
}

:global @keyframes frostFadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}

:global .frost-fade-out {
  animation: frostFadeOut 0.2s;
}
