@import '../src/styles/frost-theme.css';
@import '../src/styles/frost-app.css';

body {
  display: flex;
}

caption {
  font-size: var(--frost-font-size-l);
  padding-top: 10px;
  text-align: left;
}

tbody {
  & tr {
    &:nth-child(even) {
      background-color: var(--frost-color-lgrey-4);
    }
  }
}

td {
  padding: 6px;
}

th {
  background-color: var(--frost-color-blue-2);
  color: var(--frost-color-white);
  text-align: left;
  padding: 6px;
}

#root {
  display: flex;
  flex: 1 auto;
}

.Application {
  display: flex;
  flex: 1 auto;
  flex-direction: column;

  & header {
    background-color: var(--frost-color-blue-2);
    padding: 10px;
  }

  & h1 {
    font-size: var(--frost-font-size-xl);
    color: var(--frost-color-white);
    margin: 0;
  }

  & .body {
    display: flex;
    flex: 1 0 auto;
  }

  & .navigation {
    background-color: #e2e2e2;
    border-right: 1px solid #dbdbdb;
    display: flex;
    flex-direction: column;

    & a {
      color: #33424f;
      font-size: var(--frost-font-size-m);
      padding: 10px;
      text-decoration: none;

      &:hover, &.active {
        background-color: #859ca8;
      }
    }
  }

  & .content {
    flex: 1 auto;
    padding: 20px;

    & h2 {
      margin-top: 0;
    }
  }
}
