@import '../src/styles/frost-theme.css';
@import '../src/styles/frost-app.css';

:global body {
  display: flex;
}

:global caption {
  font-size: var(--frost-font-size-l);
  padding-top: 10px;
  text-align: left;
}

:global tbody {
  & tr {
    &:nth-child(even) {
      background-color: var(--frost-color-lgrey-4);
    }
  }
}

:global td {
  padding: 6px;
}

:global th {
  background-color: var(--frost-color-blue-2);
  color: var(--frost-color-white);
  text-align: left;
  padding: 6px;
}

:global #root {
  display: flex;
  flex: 1 auto;
}

.application {
  display: flex;
  flex: 1 auto;
  flex-direction: column;

  & header {
    background-color: var(--frost-color-blue-2);
    display: flex;
    flex-direction: row;
    min-height: 52px;
    padding: 10px;

    & a {
      &:first-child {
        flex: 1 0 auto;
        text-decoration: none;

        & h1 {
          font-size: var(--frost-font-size-xl);
          color: var(--frost-color-white);
          margin: 0;
        }
      }

      &:not(:first-child) {
        flex: 0 1 auto;
        opacity: .6;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  & .body {
    display: flex;
    flex: 1 0 auto;
  }

  & .navigation {
    background-color: #e2e2e2;
    border-right: 1px solid #dbdbdb;
    padding: 10px;
    min-width: 200px;

    & a {
      color: var(--frost-color-grey-4);
      font-size: var(--frost-font-size-m);
      text-decoration: none;

      &:hover, &.active {
        color: var(--frost-color-grey-1);
      }
    }

    & li {
      margin: 5px 0;
    }

    & ul {
      list-style: none;
      margin: 0;
      padding: 0;

      & ul {
        padding-left: 20px;
      }
    }
  }

  & .content {
    display: flex;
    flex: 1 auto;
    flex-direction: column;
    padding: 20px;

    & h2 {
      margin-top: 0;
    }

    & > div:not(.footer) {
      flex-grow: 1;
    }

    & .footer {
      display: flex;
      flex-shrink: 1;
      justify-content: space-between;
      margin-top: 20px;
    }
  }
}
