@import '../src/styles/colors.css';

:global code[class*="language-"],
:global pre[class*="language-"] {
  color: var(--frost-color-teal-4);
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  font-size: 0.95em;
  line-height: 1.2em;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

:global pre[class*="language-"]::-moz-selection,
:global pre[class*="language-"] ::-moz-selection,
:global code[class*="language-"]::-moz-selection,
:global code[class*="language-"] ::-moz-selection {
  background: #b3d4fc;
}

:global pre[class*="language-"]::selection,
:global pre[class*="language-"] ::selection,
:global code[class*="language-"]::selection,
:global code[class*="language-"] ::selection {
  background: #b3d4fc;
}

/* Code blocks */
:global pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  background-color: var(--frost-color-grey-2);
}

:global :not(pre) > code[class*="language-"],
:global pre[class*="language-"] {
}

/* Inline code */
:global :not(pre) > code[class*="language-"] {
  padding: .2em;
  padding-top: 1px; padding-bottom: 1px;
  background: #f8f8f8;
  border: 1px solid #dddddd;
}

:global .token.comment,
:global .token.prolog,
:global .token.doctype,
:global .token.cdata {
  color: #999988; font-style: italic;
}

:global .token.namespace {
  opacity: .7;
}

:global .token.string,
:global .token.attr-value {
  color: var(--frost-color-orange-3);
}

:global .token.punctuation,
:global .token.operator {
  color: var(--frost-color-lilac-3); /* no highlight */
}

:global .token.entity,
:global .token.url,
:global .token.symbol,
:global .token.number,
:global .token.boolean,
:global .token.variable,
:global .token.constant,
:global .token.property,
:global .token.regex,
:global .token.inserted {
  color: #36acaa;
}

:global .token.atrule,
:global .token.keyword,
:global .token.attr-name,
:global .language-autohotkey .token.selector {
  color: var(--frost-color-blue-4);
}

:global .token.function,
:global .token.deleted,
:global .language-autohotkey .token.tag {
  color: #9a050f;
}

:global .token.tag,
:global .token.selector,
:global .language-autohotkey .token.keyword {
  color: var(--frost-color-green-5);
}

:global .token.important,
:global .token.function,
:global .token.bold {
  font-weight: bold;
}

:global .token.italic {
  font-style: italic;
}
