@import '../styles/colors.css';
@import '../styles/typography.css';

:root {
  --frost-color-error-description: var(--frost-color-grey-1);
  --frost-color-error-suggestion: var(--frost-color-grey-1);
  --frost-color-error-http: var(--frost-color-grey-5);
  --frost-color-error-server-message: var(--frost-color-grey-6);
}

.frost-ajax-error-page {
  display: inline-block;
  font-family: var(--frost-font-family);
}

.frost-ajax-error-page-description {
  color: var(--frost-color-error-description);
  font-size: var(--frost-font-size-xxl);
  margin-bottom: 10px;
}

.frost-ajax-error-page-details {
  white-space: pre-line;
}

.frost-ajax-error-page-expand {
  max-height: 400px;
  width: 600px;
}

.frost-ajax-error-page-http-error {
  color: var(--frost-color-error-http);
  font-size: var(--frost-font-size-m);
  margin-bottom: 5px;
}

.frost-ajax-error-page-message {
  color: var(--frost-color-error-server-message);
  font-size: var(--frost-font-size-s);
  margin-bottom: 20px;
}

.frost-ajax-error-page-suggestion {
  color: var(--frost-color-error-suggestion);
  font-size: var(--frost-font-size-l);
  margin-bottom: 15px;
}
