@import '../styles/colors.css';
@import '../styles/typography.css';

:root {
  --frost-button-large-padding: 20px;
  --frost-button-medium-padding: 20px;
  --frost-button-small-padding: 10px;
  --frost-color-button-focus-shadow: color(var(--frost-color-blue-1) alpha(75%));
  --frost-color-button-in-line-darken-1: color(var(--frost-color-blue-1) shade(8));
  --frost-color-button-in-line-darken-2: color(var(--frost-color-blue-1) shade(15));
  --frost-color-button-info-bar-active:  rgba(var(--frost-color-blue-1) .1);
  --frost-color-button-info-bar-bg: var(--frost-color-white);
  --frost-color-button-info-bar-bg-hover: rgba(var(--frost-color-blue-1) .05);
  --frost-color-button-info-bar-focus: 0 1px 6px rgba(var(--frost-color-blue-1) .75);
  --frost-color-button-info-content-subtext-color: rgba(var(--frost-color-white) .8);
  --frost-color-button-primary: var(--frost-color-white);
  --frost-color-button-primary-active: var(--frost-color-blue-4);
  --frost-color-button-primary-active-bg: #1e9de5;
  --frost-color-button-primary-bg: linear-gradient(color(var(--frost-color-blue-1) tint(14)), var(--frost-color-blue-1));
  --frost-color-button-primary-hover-bg: var(--frost-color-blue-3);
  --frost-color-button-secondary: var(--frost-color-blue-1);
  --frost-color-button-secondary-active: var(--frost-color-blue-3);
  --frost-color-button-secondary-active-bg: #e7eef3;
  --frost-color-button-secondary-bg: var(--frost-color-white);
  --frost-color-button-secondary-border: var(--frost-color-blue-1);
  --frost-color-button-secondary-hover-bg: color(var(--frost-color-blue-1) alpha(10%));
  --frost-color-button-tertiary: var(--frost-color-blue-1);
  --frost-color-button-tertiary-active: var(--frost-color-blue-3);
  --frost-color-button-tertiary-active-bg: #e7eef3;
  --frost-color-button-tertiary-bg: inherit;
  --frost-color-button-tertiary-hover-bg: color(var(--frost-color-blue-1) alpha(5%));
}

.frost-button {
  background-color: transparent;
  border: 0;
  border-radius: 2px;
  color: var(--frost-color-white);
  cursor: pointer;
  font-family: var(--frost-font-family);
  padding: 0;

  &:focus,
  &:active {
    outline: none;
  }

  &:active {
    & > .info {
      background-color: var(--frost-color-button-primary-bg);
      color: var(--frost-color-button-primary-active);

      & .frost-button-content {
        & .frost-button-text,
        .subtext {
          color: var(--frost-color-button-primary-active);
        }
      }
    }
  }

  &:focus {
    box-shadow: 0 1px 6px var(--frost-color-button-focus-shadow);
  }

  &.app-bar {
    align-items: center;
    background: var(--frost-color-night-2);
    display: inline;
    flex-direction: row;
    height: 50px;
    padding: 0 20px;

    & > .frost-button-icon-text {
      align-items: center;
      display: flex;
      flex-direction: row;

      & .frost-button-text {
        margin-left: 20px;
      }
    }

    & .frost-icon  {
      height: 35px;
      padding-bottom: 0;
      width: 35px;
    }

    & .frost-button-text {
      color: var(--frost-color-white);
      display: flex;
    }

    & .frost-button-svg {
      color: inherit;
      margin-bottom: 10px;
      margin-left: 10px;
      order: 2;

      & .frost-icon {
        vertical-align: middle;
      }
    }

    &:focus {
      box-shadow: none;
      outline: 0;
    }
  }

  &.frost-button-disabled {
    opacity: .25;

    /**
     * In Firefox, the click on the app bar was not detected - added this to enable it.
     * From https://developer.mozilla.org/en/docs/Web/CSS/pointer-events
     *     The CSS property pointer-events allows authors to control under what circumstances (if any)
     *     a particular graphic element can become the target of mouse events.
     *     none: The element is never the target of mouse events; however, mouse events may target
     *            its descendant elements if those descendants have pointer-events set to some other value.
     *            In these circumstances, mouse events will trigger event listeners on this parent element
     *            as appropriate on their way to/from the descendant during the event capture/bubble phases.
     */
    pointer-events: none;
  }

  &.hidden {
    visibility: hidden;
  }

  &.in-line {
    & .frost-button-text {
      color: var(--frost-color-blue-1);
    }

    &:hover {
      &:not(.frost-button-disabled) {
        & .frost-button-text {
          color: var(--frost-color-button-in-line-darken-1);
        }
      }
    }

    &:focus {
      &:not(.frost-button-disabled) {
        box-shadow: none;
        outline: 0;

        & .frost-button-text {
          color: var(--frost-color-button-in-line-darken-1);
        }
      }
    }

    &:active {
      &:not(.frost-button-disabled) {
        & .frost-button-text {
          box-shadow: none;
          color: var(--frost-color-button-in-line-darken-2);
        }
      }
    }

    &.frost-button-disabled {
      background: none;
      box-shadow: none;
      opacity: .3;
    }
  }

  &.info-bar {
    align-items: center;
    background-color: var(--frost-color-button-info-bar-bg);
    color: var(--frost-color-blue-1);
    display: inline;
    flex-direction: column;
    height: 60px;
    margin-right: 5px;
    padding: 0 5px;
    width: 75px;

    & .frost-icon  {
      height: 30px;
      margin-left: -10px;
      padding-bottom: 0;
      width: 30px;
    }

    & .frost-button-text {
      color: var(--frost-color-blue-1);
      display: inline-block;
      font-size: var(--frost-font-size-s);
      line-height: 1;
      margin-top: -5px;
      padding: 5px 1px 2px;
    }

    & > .frost-button-content {
      align-items: center;
      box-sizing: border-box;
      display: flex;
      height: 100%;
      justify-content: center;

      & .frost-button-text {
        text-align: center;
        vertical-align: middle;
      }

      & .frost-button-svg {
        margin-bottom: 5px;
        margin-left: 10px;

        & .frost-icon {
          vertical-align: middle;
        }
      }
    }

    &:hover {
      &:not(.frost-button-disabled) {
        background-color: var(--frost-color-button-info-bar-bg-hover);
        box-shadow: none;
      }
    }

    &:focus {
      &:not(.frost-button-disabled) {
        box-shadow: var(--frost-color-button-info-bar-focus);
        outline: 0;
      }
    }

    &:active {
      &:not(.frost-button-disabled) {
        background-color: var(--frost-color-button-info-bar-active);
        box-shadow: none;
        color: var(--frost-color-blue-1);
        opacity: .7;
      }
    }
  }

  &.large {
    font-size: var(--frost-font-size-l);
    height: 50px;
    padding: 0 var(--frost-button-large-padding);

    & .frost-icon {
      height: 35px;
      width: 35px;
    }
  }

  &.medium {
    font-size: var(--frost-font-size-m);
    height: 40px;
    padding: 0 var(--frost-button-medium-padding);

    & .frost-icon {
      height: 30px;
      width: 30px;
    }
  }

  &.primary {
    background: var(--frost-color-button-primary-bg);
    color: var(--frost-color-button-primary);

    &:hover {
      &:not(.frost-button-disabled) {
        background: var(--frost-color-button-primary-hover-bg);
      }
    }

    &:focus {
      &:not(.frost-button-disabled) {
        border: solid 2px var(--frost-color-blue-4);
      }

      &.small {
        padding: 0 var(--frost-button-small-padding) - 2px;
      }

      &.medium {
        padding: 0 var(--frost-button-medium-padding) - 2px;
      }

      &.large {
        padding: 0 var(--frost-button-large-padding) - 2px;
      }
    }

    &:active {
      &:not(.frost-button-disabled) {
        background: var(--frost-color-button-primary-active-bg);
        color: var(--frost-color-button-primary-active);

        & .frost-button-text {
          opacity: .5;
        }
      }
    }

    & svg {
      fill: var(--frost-color-button-primary);
    }
  }

  &.secondary {
    background-color: var(--frost-color-button-secondary-bg);
    border: 2px solid var(--frost-color-button-secondary-border);
    color: var(--frost-color-button-secondary);

    &:hover {
      &:not(.frost-button-disabled) {
        background-color: var(--frost-color-button-secondary-hover-bg);
      }
    }

    &:active {
      &:not(.frost-button-disabled) {
        background: var(--frost-color-button-secondary-active-bg);
        color: var(--frost-color-button-secondary-active);

        & .frost-button-text {
          opacity: .5;
        }
      }
    }

    & svg {
      fill: var(--frost-color-button-secondary);
    }
  }

  &.small {
    font-size: var(--frost-font-size-s);
    height: 30px;
    padding: 0 var(--frost-button-small-padding);

    & .frost-icon {
      height: 20px;
      width: 20px;
    }
  }

  &.tab {
    box-shadow: none;
    cursor: default;
    height: 35px;
    padding: 0 15px;

    & .frost-button-text {
      color: var(--frost-color-grey-5);
      font-family: var(--frost-font-family);
      font-size: var(--frost-font-size-m);
    }

    &:hover {
      background-color: var(--frost-color-button-tertiary-hover-bg);
    }
  }

  &.tertiary {
    background-color: var(--frost-color-button-tertiary-bg);
    color: var(--frost-color-button-tertiary);

    &:hover {
      &:not(.frost-button-disabled) {
        background-color: var(--frost-color-button-tertiary-hover-bg);
      }
    }

    &:focus {
      &:not(.frost-button-disabled) {
        box-shadow: 1px solid var(--frost-color-blue-4);
        outline: 0;
      }
    }

    &:active {
      &:not(.frost-button-disabled) {
        background: var(--frost-color-button-tertiary-active-bg);
        color: var(--frost-color-button-tertiary-active);

        & .frost-button-text {
          opacity: .5;
        }
      }
    }

    & svg {
      fill: var(--frost-color-button-tertiary);
    }
  }

  &.vertical {
    height: auto;

    &.extra-large {
      padding: 19px 15px;

      & .frost-button-icon {
        height: 22px;
      }
    }

    &.large {
      padding: 16px 20px;

      & .frost-button-icon {
        height: 18px;
      }
    }

    &.medium {
      padding: 13px 20px;

      & .frost-button-icon {
        height: 14px;
      }
    }

    &.small {
      padding: 9px 10px;

      & .frost-button-icon {
        height: 12px;
      }
    }

    & .frost-icon + .content,
    .frost-icon + .frost-button-text {
      margin-top: 8px;
    }

    & .frost-button-icon-text {
      flex-direction: column;

      & .frost-button-text {
        margin-left: 0;
      }
    }
  }

  & > .frost-button-icon {
    align-items: center;
    display: flex;
    height: 100%;
  }

  & > .frost-button-icon-text {
    align-items: center;
    display: flex;
    flex-direction: row;

    & .frost-button-text {
      margin-left: 10px;
    }
  }

  & > .info {
    align-items: center;
    display: flex;

    & .frost-button-content {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      padding-left: 10px;

      & .frost-button-text {
        color: var(--frost-color-button-primary);
        font-size: var(--frost-font-size-m);
      }

      & .subtext {
        color: var(--frost-color-button-info-content-subtext-color);
        font-size: var(--frost-font-size-xs);
      }
    }
  }

  & > .frost-button-text {
    vertical-align: middle;
  }
}
