@import '../styles/colors.css';

.frost-code-block-demo {
  border: 1px solid var(--frost-color-lgrey-2);
  padding: 6px;
}

.frost-code-block-demo + .frost-code-block-expand {
  margin-top: 10px;
}

.frost-code-block-language {
  background-color: var(--frost-color-night-3);
  color: var(--frost-color-night-2);
  padding: 6px;
}

.frost-code-block-language + pre[class*="language-"] {
  margin-top: 0;
}
