@import '../styles/colors.css';

.demo {
  border: 1px solid var(--frost-color-lgrey-2);
  padding: 6px;
}

.demo + .expand {
  margin-top: 10px;
}

.language {
  background-color: var(--frost-color-night-3);
  color: var(--frost-color-night-2);
  padding: 6px;
}

.language + pre[class*="language-"] {
  margin-top: 0;
}
