@import '../styles/colors.css';
@import '../styles/typography.css';

:root {
  --frost-color-expand-label-text: var(--frost-color-blue-1);
  --frost-color-expand-content-bg: var(--frost-color-lgrey-3);
  --frost-color-expand-content-text: var(--frost-color-grey-3);
}

.frost-expand {
  display: flex;
  flex-direction: column;
  font-family: var(--frost-font-family);

  &.collapsed {
    & .frost-icon-frost-chevron {
      transform: rotate(-180deg);
    }
  }

  &.expanded {
    & .frost-icon-frost-chevron {
      transform: rotate(-90deg);
    }
  }

  & .frost-expand-label {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: flex-start;
    margin-bottom: 5px;

    & .frost-expand-label-text {
      color: var(--frost-color-expand-label-text);
      padding-left: 10px;
    }

    & .frost-icon-frost-chevron {
      height: 30px;
      transition: transform .3s;
      width: 30px;
    }
  }

  & .frost-expand-scroll {
    background-color: var(--frost-color-expand-content-bg);

    & .frost-expand-content {
      color: var(--frost-color-expand-content-text);
      font-size: var(--frost-font-size-s);
      line-height: 1.4em;
      padding: 15px;
    }
  }
}
