@import '../styles/colors.css';
@import '../styles/typography.css';

:root {
  --frost-password-error-border: 1px solid var(--frost-color-input-error-border);
  --frost-password-reveal-border-left-color: var(--frost-color-lgrey-2);
  --frost-password-reveal-color: var(--frost-color-blue-1);
  --frost-password-reveal-font-size: var(--frost-font-size-xs);
}

.frost-password {
  display: block;
  min-width: 175px;
  position: relative;

  &.frost-password-revealable {
    & .frost-text-clear {
      right: 50px;
    }

    & .frost-text-input {
      padding-right: 75px;
    }
  }

  &.error {
    .frost-text-input {
      border: var(--frost-password-error-border);

      &:hover {
        &:enabled {
          &:read-write {
            &:not(:focus) {
              border: var(--frost-password-error-border);
            }
          }
        }
      }
    }
  }
}

.frost-password-reveal {
  border-left: 1px solid var(--frost-password-reveal-border-left-color);
  color: var(--frost-password-reveal-color);
  cursor: pointer;
  display: inline-block;
  font-size: var(--frost-password-reveal-font-size);
  height: 33px;
  line-height: 35px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 2px;
  vertical-align: middle;
  width: 45px;

  &:focus {
    outline: none;
  }
}
