@import '../styles/animations.css';
@import '../styles/colors.css';
@import '../styles/typography.css';

:root {
  --frost-textarea-border: 1px solid var(--frost-color-input-border);
  --frost-textarea-color: var(--frost-color-grey-1);
  --frost-textarea-disabled-bg: var(--frost-color-input-disabled-bg);
  --frost-textarea-disabled-border: 1px solid var(--frost-color-input-disabled-border);
  --frost-textarea-error-border: 1px solid var(--frost-color-input-error-border);
  --frost-textarea-error-color: var(--frost-color-danger);
  --frost-textarea-error-margin: 1px; /* Note: margin + border width equals border width of focus state */
  --frost-textarea-focus-border: 1px solid var(--frost-color-input-focus-border);
  --frost-textarea-font-size: var(--frost-font-size-s);
  --frost-textarea-hover-border: 1px solid var(--frost-color-input-focus-border);
}

.root {
  display: flex;
  position: relative;

  &.error {
    & .input {
      border: var(--frost-textarea-error-border);
      color: var(--frost-textarea-error-color);
      margin: var(--frost-textarea-error-margin);

      &:hover {
        &:enabled {
          &:read-write {
            &:not(:focus) {
              border: var(--frost-textarea-error-border);
            }
          }
        }
      }
    }
  }
}

.clear {
  fill: var(--frost-color-grey-6);
  height: 23px;
  position: relative;
  right: 26px;
  top: 7px;
  transition: opacity .2s ease;
  width: 23px;

  &:focus {
    outline: none;
  }
}

.input {
  border: var(--frost-textarea-border);
  color: var(--frost-textarea-color);
  font-size: var(--frost-textarea-font-size);
  padding: 5px 30px 5px 5px;
  resize: none;
  transition: border .2s ease;

  &:disabled {
    background-color: var(--frost-textarea-disabled-bg);
    border: var(--frost-textarea-disabled-border);
  }

  &:focus {
    border: var(--frost-textarea-focus-border);
    outline: none;
  }

  &:hover {
    &:enabled {
      &:read-write {
        &:not(:focus) {
          border: var(--frost-textarea-hover-border);
          outline: none;
        }
      }
    }
  }

  &:read-only {
    border: 0;
    cursor: default;
  }

  &.align-right {
    text-align: right;
  }
}
