@import '../styles/animations.css';
@import '../styles/colors.css';
@import '../styles/typography.css';

:root {
  --frost-text-border: 1px solid var(--frost-color-input-border);
  --frost-text-color: var(--frost-color-input);
  --frost-text-disabled-bg: var(--frost-color-input-disabled-bg);
  --frost-text-disabled-border: 1px solid var(--frost-color-input-disabled-border);
  --frost-text-error-border: 1px solid var(--frost-color-input-error-border);
  --frost-text-font-size: var(--frost-font-size-m);
  --frost-text-focus-border: 1px solid var(--frost-color-input-focus-border);
  --frost-text-height: 35px;
  --frost-text-hover-border: 1px solid var(--frost-color-input-hover-border);
  --frost-text-padding: 0 30px 0 8px;
}

.frost-text {
  display: block;
  min-width: 175px;
  position: relative;

  &.frost-text-error {
    & .frost-text-input {
      border: var(--frost-text-error-border);

      &:hover {
        &:enabled {
          &:read-write {
            &:not(:focus) {
              border: var(--frost-text-error-border);
            }
          }
        }
      }
    }
  }
}

.frost-text-clear {
  display: inline-block;
  fill: var(--frost-color-grey-6);
  height: 23px;
  position: absolute;
  right: 5px;
  top: 7px;
  width: 23px;

  &:focus {
    outline: none;
  }
}

.frost-text-input {
  border: var(--frost-text-border);
  color: var(--frost-text-color);
  display: inline-block;
  font-size: var(--frost-text-font-size);
  font-weight: 200;
  height: var(--frost-text-height);
  outline: none;
  padding: var(--frost-text-padding);
  transition: border .2s ease;
  width: 100%;

  &.frost-text-align-right {
    text-align: right;
  }

  &:focus {
    border: var(--frost-text-focus-border);
  }

  &:read-only {
    border: 0;
  }

  /**
   * Note: without this Firefox ends up applying the read-only pseudo selector
   * to number inputs which causes them not to get a border.
   */
  &[type='number'] {
    border: 1px solid var(--frost-color-input-border);
  }

  &:disabled {
    background-color: var(--frost-text-disabled-bg);
    border: var(--frost-text-disabled-border);
  }

  &:hover {
    &:enabled {
      &:read-write {
        &:not(:focus) {
          border: var(--frost-text-hover-border);
        }
      }
    }
  }
}
